<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Registration</title>
</head>

<body>
    <h1>Register here!</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/user/create_user" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name">
        <br>
        <label for="alias">Alias:</label>
        <input type="text" name="alias">
        <br>
        <label for="email">Email:</label>
        <input type="text" name="email">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password">
        <br>
        <button>Create User</button>
    </form>

    <hr>
    <h1>Login Here</h1>
    <form action="/user/login" method="post">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="text" name="email">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <button>Log In!</button>
    </form>
</body>

</html>